# Ignorer tous les fichiers CSS, sauf ceux à la racine
*.css
!/*.css
# Ignorer les dossiers 'acf-blocks' et 'block-styles' où qu'ils se trouvent
acf-blocks/
# Ignorer tous les fichiers qui commencent par ._ 
._*
# Ignorer tous les fichiers qui commencent par .DS_Store
.DS_Store